@import url('https://fonts.googleapis.com/css2?family=Acme&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
$dark: #2e2a39; 
$pink: #FD55B7;
$blue: #83F2FF;
$lightblue: #E8FFFF;

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* BASE STYLES */
body {
  background-color: #e8f0f7;
  min-height: 5000px;
  padding-top: 70px;
  font-family: 'Exo 2', sans-serif;
}

/* NAVBAR */
.header {
  background-color: $dark;
  position: fixed;
  width: 100%;
  top: 0;
  
  

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;

    .logo {
      height: 200px;
      display: block;
    }

    .nav__list {
      display: flex;
      column-gap: 40px;
      font-family: 'Exo 2', sans-serif;

      .nav__link {
        color: $pink;
        font-size: 15px;
        transition: all 0.4s;
        position: relative;

        &:hover,
        &:focus {
          color: rgba(255, 255, 255, 1);
        }

        &::after {
          content: '';
          height: 2px;
          width: 100%;
          background-color: $blue;
          position: absolute;
          left: 0;
          bottom: -8px;
          transition: all 0.2s;
          opacity: 0;
          pointer-events: none;
        }

        &:hover::after {
          opacity: 1;
        }
      }
    }

    .btn {
      color: #fff;
      background-color: $blue;
      padding: 7px 18px;
      border-radius: 1000px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      transition: all 0.2s;

      &:hover {
        background-color: darken($blue, 10%);
      }
    }
  }

  /* MEDIA QUERIES */
  @media (max-width: 650px) {
    &__content {
      flex-direction: column;
      align-items: center;
      padding: 25px 0;
      row-gap: 18px;

      .nav__list {
        column-gap: 20px;
      }
    }
  }
}

/* MAIN STYLES */
.img_banner{
 width: 50%;    /* prend la moitié de son conteneur */
  height: auto;
}
.titles {
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  gap: 10vh; 
  justify-content: center;
  align-items: center;
  background-position: center;

   @media (max-width: 650px) {
      padding-top:80%;/* taille réduite pour petits écrans */
  } 

  &_one {
    font-family: 'Exo 2', sans-serif;
    font-size:5vh;
    color:$dark;
    
  } 

  &_two { 
    font-family: 'Roboto', sans-serif;
    color: $pink;
    font-size: 5vh;
       
        }
    } 

